<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>Foodx | Food Mobile PWA HTML Template</title>
      <!-- Bootstrap css -->
      <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.min.css">
      <!-- Bootstrap icon -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
      <!-- Sidebar css -->
      <link rel="stylesheet" href="vender/sidebar/demo.css">
      <!-- Matrial Icons -->
      <link rel="stylesheet" href="vender/materialdesign/css/materialdesignicons.min.css">
      <!-- Custom css -->
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body class="bg-light">
      <div class="osahan-page d-flex flex-column vh-100 bg-light">
         <div class="osahan-page-header d-flex align-items-center justify-content-between mb-auto p-3">
            <a href="profile.html" class="text-black bg-white rounded-pill icon-sm shadow-sm me-3"><span class="mdi mdi-arrow-left mdi-18px"></span></a>
            <a href="profile.html" class="d-flex align-items-center text-decoration-none me-auto">
               <img class="img-fluid avtar-sm rounded-pill bg-white shadow-sm p-1" src="img/user/2.jpeg">
               <div class="ms-2 lh-1">
                  <h6 class="text-primary mb-0 fw-bold">Natia</h6>
                  <small class="Online text-secondary opacity-75 mb-0">Online</small>
               </div>
            </a>
            <div class="d-flex align-items-center gap-2">
               <a href="#" class="icon-sm shadow-sm"><span class="mdi mdi-phone mdi-18px"></span></a>
               <a href="#" class="icon-sm shadow-sm"><span class="mdi mdi-video mdi-18px"></span></a>  
               <a href="notification.html" class="icon-sm shadow-sm"><span class="mdi mdi-bell-outline mdi-18px"></span></a>
               <a href="#" class="toggle d-flex align-items-center justify-content-center bg-white shadow-sm icon-sm fs-5 hc-nav-trigger hc-nav-1" role="button" aria-controls="hc-nav-1"><i class="bi bi-list mdi-18px"></i></a>
            </div>
         </div>
         <div class="osahan-page-body vh-100 my-auto overflow-auto p-3">
            <div class="d-flex align-items-center gap-2 mb-4">
               <div class="border-top w-100"></div>
               <span class="px-2 text-uppercase small">Today</span>
               <div class="border-top w-100"></div>
            </div>
            <div class="mb-3">
               <div class="d-flex align-items-end mb-1">
                  <div class="d-flex align-items-center gap-3 w-100 text-right">
                     <span class="bg-chatbox ms-auto chat-rounded-right p-3 rounded-4">
                     Hi, My Order Is Not<br>
                     Delivered Yet. How Much<br>
                     Time I Wait For The Order.
                     </span>
                  </div>
               </div>
               <p class="text-muted m-0 small text-end">05:57PM</p>
            </div>
            <div class="mb-3">
               <div class="d-flex align-items-end mb-1">
                  <div class="bg-dark chat-rounded-left p-3 rounded-4">
                     <div class="m-0 text-white">Order Is On The Way Matt.</div>
                  </div>
               </div>
               <p class="text-muted mb-0 small">05:55PM</p>
            </div>
            <div class="mb-3">
               <div class="d-flex align-items-end mb-1">
                  <div class="d-flex align-items-center gap-3 w-100 text-right">
                     <span class="bg-chatbox ms-auto chat-rounded-right p-3 rounded-4"> OKay, I”m Waiting.....</span>
                  </div>
               </div>
               <p class="text-muted m-0 small text-end">05:57PM</p>
            </div>
            <div class="d-flex align-items-center gap-2">
               <p class="text-muted m-0">Mahbuba is typing...</p>
            </div>
         </div>
         <div class="osahan-page-footer mt-auto p-3 bg-white shadow chat-footer">
            <div class="d-flex justify-content-between align-items-center gap-2">
               <div class="input-group flex-nowrap gap-2">
                  <button class="btn btn-secondary rounded-pill fav-icon p-0 d-flex align-items-center justify-content-center border-0" type="button"><span class="mdi mdi-microphone-outline fs-1"></span></button>
                  <input type="text" class="form-control bg-light px-3 py-2 border-0 bg-white shadow-none rounded-pill" placeholder="Typing..">
                  <button class="btn btn-outline-secondary rounded-pill fav-icon p-0 d-flex align-items-center justify-content-center border-0" type="button"><span class="mdi mdi-link fs-1"></span></button>
               </div>
               <a href="profile.html" type="button" class="btn btn-primary rounded-pill d-flex align-items-center justify-content-center p-0 btn-lg fav-icon"><i class="mdi mdi-send fs-2"></i></a>
            </div>
         </div>
      </div>
		<!-- sidebar nav -->
      <nav id="main-nav">
        <ul class="second-nav">
          <li class="osahan-user-profile bg-primary">
              <div class="d-flex align-items-center gap-2">
                <img src="img/user/1.jpeg" alt="" class="rounded-pill img-fluid cw-30">
                <div class="ps-1">
                    <h6 class="fw-bold text-white mb-0">Hey, Samantha!</h6>
                    <p class="text-white-50 m-0 small">+91 12345-67890</p>
                </div>
              </div>
          </li>
          <li><a href="index.html"><span class="mdi mdi-cellphone me-3"></span>Splash</a></li>
          <li>
              <a href="#"><span class="mdi mdi-login me-3"></span>Authentication</a>
              <ul>
                <li><a href="landing.html">Landing</a></li>
                <li><a href="register.html">Sign up</a></li>
                <li><a href="login.html">Sign In</a></li>
                <li><a href="verifiction.html">Verifiction</a></li>
                <li><a href="forget-password.html">Forget Password</a></li>
                <li><a href="verify-email.html">Email Verify</a></li>
                <li><a href="verify.html">Phone Verify</a></li>
                <li><a href="rest-password.html">Rest Password</a></li>
              </ul>
          </li>
          <li><a href="notification.html"><span class="mdi mdi-bell-outline me-3"></span>Notification</a></li>
          <li><a href="home.html"><span class="mdi mdi-home-variant-outline me-3"></span>Homepage</a></li>
          <li><a href="like.html"><span class="mdi mdi-note-search-outline me-3"></span>Most Popular</a></li>
          <li><a href="asian-dish.html"><span class="mdi mdi-map-clock-outline me-3"></span>Nearby Resturents</a></li>
          <li><a href="food-search.html"><span class="mdi mdi-feature-search-outline me-3"></span>Food Search</a></li>
          <li><a href="pizza.html"><span class="mdi mdi-grid-large me-3"></span>Grid List</a></li>
          <li><a href="donat.html"><span class="mdi mdi-format-list-checkbox me-3"></span>Most Popular Foods</a></li>
          <li><a href="apply.html"><span class="mdi mdi-filter-outline me-3"></span>Filter</a></li>
          <li>
              <a href="#"><span class="mdi mdi-login me-3"></span>List Detail</a>
              <ul>
                <li><a href="add-to-cart-2.html">Detail 1</a></li>
                <li><a href="add-to-cart.html">Detail 2</a></li>
              </ul>
          </li>
          <li><a href="profile.html"><span class="mdi mdi-account-outline me-3"></span>Profile</a></li>
          <li><a href="chat.html"><span class="mdi mdi-message-outline me-3"></span>Chat</a></li>
          <li>
              <a href="#"><span class="mdi mdi-account-outline me-3"></span>My Profile</a>
              <ul>
                <li><a href="preferences.html">Preferences</a></li>
                <li><a href="account-information.html">Account Information</a></li>
                <li><a href="add-to-address.html">Select Address</a></li>
                <li><a href="address-add.html">Add New Address</a></li>
                <li><a href="invite.html">Invite</a></li>
              </ul>
          </li>
          <li><a href="review-payment.html"><span class="mdi mdi-cart-outline me-3"></span>Cart</a></li>
          <li>
              <a href="#"><span class="mdi mdi-account-outline me-3"></span>Checkout</a>
              <ul>
                <li><a href="payment-choose.html">Payment Choose</a></li>
                <li><a href="payment-method.html">Payment Method</a></li>
                <li><a href="add-new-card.html">Add New Card</a></li>
                <li><a href="card-check-out.html">Card Checkout</a></li>
                <li><a href="track.html">Track</a></li>
              </ul>
          </li>
          <li><a href="order-recive.html"><span class="mdi mdi-star-outline me-3"></span>Rating</a></li>
        </ul>
        <ul class="bottom-nav">
          <li class="home">
              <a href="home.html">
                <p class="h5 m-0"><span class="mdi mdi-home-variant-outline"></span></p>
                Home
              </a>
          </li>
          <li class="find">
              <a href="food-search.html">
                <p class="h5 m-0"><span class="mdi mdi-magnify"></span></p>
                Search
              </a>
          </li>
          <li class="more">
              <a href="profile.html">
                <p class="h5 m-0"><span class="mdi mdi-account-circle-outline"></span></p>
                Profile
              </a>
          </li>
        </ul>
      </nav>
      <!-- Bootstrap bundle js -->
      <script src="vender/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Jquery js -->
      <script src="vender/jquery/jquery.min.js"></script>
      <!-- Sidebar js -->
      <script src="vender/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom js -->
      <script src="js/script.js"></script>
   </body>
</html>