<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <link rel="icon" href="img/logo.png" type="image/png">
      <title>Foodx | Food Mobile PWA HTML Template</title>
      <!-- Bootstrap css -->
      <link rel="stylesheet" href="vender/bootstrap/css/bootstrap.min.css">
      <!-- Bootstrap icon -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
      <!-- Sidebar css -->
      <link rel="stylesheet" href="vender/sidebar/demo.css">
      <!-- Matrial Icons -->
      <link rel="stylesheet" href="vender/materialdesign/css/materialdesignicons.min.css">
      <!-- Custom css -->
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body class="bg-light">
      <div class="osahan-page d-flex flex-column vh-100 bg-light">
         <div class="osahan-page-header mb-auto p-3 bg-light">
            <div class="d-flex align-items-center justify-content-between">
               <a href="add-to-address.html" class="d-flex align-items-center text-decoration-none me-auto gap-1">
                  <i class="mdi mdi-map-marker-circle h2 m-0 text-primary"></i>
                  <div class="ms-2 lh-1">
                     <h6 class="text-dark mb-0 fw-bold">Location</h6>
                     <small class="Online text-muted opacity-75 mb-0">California, USA</small>
                  </div>
               </a>
               <div class="d-flex align-items-center gap-2">
                  <a href="profile.html"><img class="img-fluid avtar-sm rounded-pill bg-white shadow-sm p-1" src="img/user/1.jpeg"></a>
                  <a href="notification.html" class="icon-sm shadow-sm"><span class="mdi mdi-bell-outline text-primary mdi-18px"></span></a>
                  <a href="#" class="toggle d-flex align-items-center justify-content-center bg-white shadow-sm icon-sm fs-5 hc-nav-trigger hc-nav-1" role="button" aria-controls="hc-nav-1"><i class="bi bi-list text-primary mdi-18px"></i></a>
               </div>
            </div>
            <div class="input-group mt-3 bg-white rounded-pill shadow-sm overflow-hidden">
               <span class="input-group-text bg-white border-0 ps-3"><i class="mdi mdi-magnify fs-4"></i></span>
               <input type="text" class="form-control border-0 px-0 py-2" placeholder="Search">
            </div>
         </div>
         <div class="osahan-page-body vh-100 my-auto overflow-auto px-3 pb-3">
            <!-- slider-->
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
               <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
               </div>
               <div class="pb-5">
                  <div class="carousel-inner">
                     <div class="carousel-item active" data-bs-interval="10000">
                        <div class="bg-primary text-white rounded-4 p-4 food-book-back position-relative shadow overflow-hidden shadow">
                           <h2 class="fw-bold mb-1">Limited</h2>
                           <h5 class="mb-1 doctor-book-back-title">Time Offer!</h5>
                           <p class="mb-3 text-white-50 small">Get 20% Off Your Order</p>
                           <a href="food-search.html" class="btn btn-sm btn-book btn-dark rounded-pill small">ORDER NOW <i class="bi bi-arrow-right"></i></a>
                           <div class="food-shop-img">
                              <img src="img/banner1.png" alt="" class="img-fluid">
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item" data-bs-interval="2000">
                        <div class="bg-white text-white rounded-4 p-4 food-book-back position-relative shadow overflow-hidden shadow">
                           <h2 class="fw-bold text-primary mb-1">Buy One,</h2>
                           <h5 class="mb-1 doctor-book-back-title text-black">Get One Free!</h5>
                           <p class="mb-3 text-muted small">Double the Deliciousness</p>
                           <a href="food-search.html" class="btn btn-sm btn-book btn-primary rounded-pill small">ORDER NOW <i class="bi bi-arrow-right"></i></a>
                           <div class="food-shop-img">
                              <img src="img/banner2.png" alt="" class="img-fluid">
                           </div>
                        </div>         
                     </div>
                     <div class="carousel-item">
                        <div class="bg-primary text-white rounded-4 p-4 food-book-back position-relative shadow overflow-hidden shadow">
                           <h2 class="fw-bold mb-1">Limited</h2>
                           <h5 class="mb-1 doctor-book-back-title">Time Offer!</h5>
                           <p class="mb-3 text-white-50 small">Get 20% Off Your Order</p>
                           <a href="food-search.html" class="btn btn-sm btn-book btn-dark rounded-pill small">ORDER NOW <i class="bi bi-arrow-right"></i></a>
                           <div class="food-shop-img">
                              <img src="img/banner1.png" alt="" class="img-fluid">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row g-2 ingrediants-box">
               <div class="col">
                  <div class="bg-white shadow-sm rounded-4 text-center p-2 position-relative">
                     <span class="mdi mdi-pizza fs-4 bg-danger text-white rounded-pill mt-1"></span>
                     <p class="small m-0 text-danger my-1">Pizza</p>
                     <a href="like.html" class="stretched-link"></a>
                  </div>
               </div>
               <div class="col">
                  <div class="bg-white shadow-sm rounded-4 text-center p-2 position-relative">
                     <span class="mdi mdi-noodles fs-4 bg-success text-white rounded-pill mt-1"></span>
                     <p class="small m-0 text-success my-1">Asian</p>
                     <a href="like.html" class="stretched-link"></a>
                  </div>
               </div>
               <div class="col">
                  <div class="bg-white shadow-sm rounded-4 text-center p-2 position-relative">
                     <span class="mdi mdi-ice-cream fs-4 bg-warning text-white rounded-pill mt-1"></span>
                     <p class="small m-0 text-warning my-1">Ice</p>
                     <a href="like.html" class="stretched-link"></a>
                  </div>
               </div>
               <div class="col">
                  <div class="bg-white shadow-sm rounded-4 text-center p-2 position-relative">
                     <span class="mdi mdi-bread-slice fs-4 bg-info text-white rounded-pill mt-1"></span>
                     <p class="small m-0 text-info my-1">Bread</p>
                     <a href="like.html" class="stretched-link"></a>
                  </div>
               </div>
               <div class="col">
                  <div class="bg-white shadow-sm rounded-4 text-center p-2 position-relative">
                     <span class="mdi mdi-cake fs-4 bg-dark text-white rounded-pill mt-1"></span>
                     <p class="small m-0 text-dark my-1">Cake</p>
                     <a href="like.html" class="stretched-link"></a>
                  </div>
               </div>
             </div>


            <!-- slider-end-->
          
            <h6 class="mb-3 mt-4 fw-bold">Most Popular</h6>
            <div class="d-flex gap-3 mb-3">
               <div>
                  <div class="card rounded-4 border-0 shadow-sm osahan-card">
                     <div class="card-body d-flex flex-column">
                        <span class="material-symbols-outlined ms-auto">favorite</span>
                        <img class="img-fluid mb-3" src="img/list/1.jpeg">
                        <div class="d-flex">
                           <span class="badge rounded-pill bg-info-subtle pt-1 text-info">Healthy</span>
                        </div>
                        <h5 class="mb-0 mt-2 fw-bold">Chicken Hell</h5>
                        <div class="d-flex gap-2 align-items-center mb-2">
                           <p class="text-secondary opacity-75 mb-0 miny-text">24min</p>
                           <p class="text-primary opacity-75 mb-0 miny-text"><span class="mdi mdi-star text-primary"></span> 4.8</p>
                        </div>
                        <div class="d-flex align-items-center">
                           <h4 class="mb-0">$12 <span class="text-secondary fs-6 mb-0 fw-normal text-decoration-line-through">$99</span></h4>
                           <a href="add-to-cart.html" class="text-decoration-none bg-dark rounded-pill p-1 d-flex align-items-center justify-content-center ms-auto"><span class="material-symbols-outlined text-white">add</span></a>
                        </div>
                     </div>
                     <a href="add-to-cart-2.html" class="stretched-link"></a>
                  </div>
               </div>
               <div>
                  <div class="card rounded-4 border-0 shadow-sm osahan-card">
                     <div class="card-body d-flex flex-column">
                        <span class="material-symbols-outlined ms-auto">favorite</span>
                        <img class="img-fluid mb-3" src="img/list/2.jpeg">
                        <div class="d-flex">
                           <span class="badge rounded-pill bg-danger-subtle text-danger pt-1">Tranding</span>
                        </div>
                        <h5 class="mb-0 mt-2 fw-bold">Swe Dish</h5>
                        <div class="d-flex gap-2 align-items-center mb-2">
                           <p class="text-secondary opacity-75 mb-0 miny-text">34min</p>
                           <p class="text-primary opacity-75 mb-0 miny-text"><span class="mdi mdi-star text-primary"></span> 4.9</p>
                        </div>
                        <div class="d-flex align-items-center">
                           <h4 class="mb-0">$19 <span class="text-secondary fs-6 mb-0 fw-normal text-decoration-line-through">$99</span></h4>
                           <a href="add-to-cart.html" class="text-decoration-none bg-dark rounded-pill p-1 d-flex align-items-center justify-content-center ms-auto"><span class="material-symbols-outlined text-white">add</span></a>
                        </div>
                     </div>
                     <a href="add-to-cart-2.html" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <h6 class="mb-3 mt-4 fw-bold">Nearby Resturents</h6>
            <div class="card mb-0 rounded-4 border-0 shadow overflow-hidden osahan-card-2">
               <img src="img/list/6.jpeg" class="card-img-top img-fluid">
               <div class="card-body">
                  <div class="d-flex">
                     <span class="badge rounded-pill bg-info-subtle pt-1 text-info">Healthy</span>
                  </div>
                  <h5 class="mb-0 h6 fw-bold pt-1">Chicken Hell</h5>
                  <div class="d-flex gap-2 align-items-center">
                     <p class="text-secondary opacity-75 mb-0">24min</p>
                     <p class="text-primary opacity-75 mb-0"><span class="mdi mdi-star text-primary"></span> 4.8</p>
                     <div class="bg-primary d-flex align-items-center rounded-circle justify-content-center p-1 ms-auto">
                        <span class="material-symbols-outlined text-white">bookmark</span>
                     </div>
                  </div>
               </div>
               <a href="add-to-cart-2.html" class="stretched-link"></a>
            </div>
         </div>
         <div class="osahan-page-footer mt-auto p-3">
            <div class="d-flex justify-content-between align-items-center bg-white shadow rounded-pill px-3">
               <div class="text-center lh-1 col">
                  <a class="p-3 d-block" href="home.html"><span class="material-symbols-outlined text-primary">home</span></a>
               </div>
               <div class="text-center lh-1 col">
                  <a class="p-3 d-block" href="like.html"><span class="material-symbols-outlined text-secondary">favorite</span></a>
               </div>
               <div class="text-center lh-1 col">
                  <a class="p-3 d-block" href="chat.html"><span class="material-symbols-outlined text-secondary">shopping_bag</span></a>
               </div>
               <div class="text-center lh-1 col">
                  <a class="p-3 d-block" href="notification.html"><span class="material-symbols-outlined text-secondary">notifications</span></a>
               </div>
               <div class="text-center lh-1 col">
                  <a class="p-3 d-block" href="account-information.html"><span class="material-symbols-outlined text-secondary">person</span></a>
               </div>
            </div>
         </div>
      </div>
      <!-- sidebar nav -->
      <nav id="main-nav">
        <ul class="second-nav">
          <li class="osahan-user-profile bg-primary">
              <div class="d-flex align-items-center gap-2">
                <img src="img/user/1.jpeg" alt="" class="rounded-pill img-fluid cw-30">
                <div class="ps-1">
                    <h6 class="fw-bold text-white mb-0">Hey, Samantha!</h6>
                    <p class="text-white-50 m-0 small">+91 12345-67890</p>
                </div>
              </div>
          </li>
          <li><a href="index.html"><span class="mdi mdi-cellphone me-3"></span>Splash</a></li>
          <li>
              <a href="#"><span class="mdi mdi-login me-3"></span>Authentication</a>
              <ul>
                <li><a href="landing.html">Landing</a></li>
                <li><a href="register.html">Sign up</a></li>
                <li><a href="login.html">Sign In</a></li>
                <li><a href="verifiction.html">Verifiction</a></li>
                <li><a href="forget-password.html">Forget Password</a></li>
                <li><a href="verify-email.html">Email Verify</a></li>
                <li><a href="verify.html">Phone Verify</a></li>
                <li><a href="rest-password.html">Rest Password</a></li>
              </ul>
          </li>
          <li><a href="notification.html"><span class="mdi mdi-bell-outline me-3"></span>Notification</a></li>
          <li><a href="home.html"><span class="mdi mdi-home-variant-outline me-3"></span>Homepage</a></li>
          <li><a href="like.html"><span class="mdi mdi-note-search-outline me-3"></span>Most Popular</a></li>
          <li><a href="asian-dish.html"><span class="mdi mdi-map-clock-outline me-3"></span>Nearby Resturents</a></li>
          <li><a href="food-search.html"><span class="mdi mdi-feature-search-outline me-3"></span>Food Search</a></li>
          <li><a href="pizza.html"><span class="mdi mdi-grid-large me-3"></span>Grid List</a></li>
          <li><a href="donat.html"><span class="mdi mdi-format-list-checkbox me-3"></span>Most Popular Foods</a></li>
          <li><a href="apply.html"><span class="mdi mdi-filter-outline me-3"></span>Filter</a></li>
          <li>
              <a href="#"><span class="mdi mdi-login me-3"></span>List Detail</a>
              <ul>
                <li><a href="add-to-cart-2.html">Detail 1</a></li>
                <li><a href="add-to-cart.html">Detail 2</a></li>
              </ul>
          </li>
          <li><a href="profile.html"><span class="mdi mdi-account-outline me-3"></span>Profile</a></li>
          <li><a href="chat.html"><span class="mdi mdi-message-outline me-3"></span>Chat</a></li>
          <li>
              <a href="#"><span class="mdi mdi-account-outline me-3"></span>My Profile</a>
              <ul>
                <li><a href="preferences.html">Preferences</a></li>
                <li><a href="account-information.html">Account Information</a></li>
                <li><a href="add-to-address.html">Select Address</a></li>
                <li><a href="address-add.html">Add New Address</a></li>
                <li><a href="invite.html">Invite</a></li>
              </ul>
          </li>
          <li><a href="review-payment.html"><span class="mdi mdi-cart-outline me-3"></span>Cart</a></li>
          <li>
              <a href="#"><span class="mdi mdi-account-outline me-3"></span>Checkout</a>
              <ul>
                <li><a href="payment-choose.html">Payment Choose</a></li>
                <li><a href="payment-method.html">Payment Method</a></li>
                <li><a href="add-new-card.html">Add New Card</a></li>
                <li><a href="card-check-out.html">Card Checkout</a></li>
                <li><a href="track.html">Track</a></li>
              </ul>
          </li>
          <li><a href="order-recive.html"><span class="mdi mdi-star-outline me-3"></span>Rating</a></li>
        </ul>
        <ul class="bottom-nav">
          <li class="home">
              <a href="home.html">
                <p class="h5 m-0"><span class="mdi mdi-home-variant-outline"></span></p>
                Home
              </a>
          </li>
          <li class="find">
              <a href="food-search.html">
                <p class="h5 m-0"><span class="mdi mdi-magnify"></span></p>
                Search
              </a>
          </li>
          <li class="more">
              <a href="profile.html">
                <p class="h5 m-0"><span class="mdi mdi-account-circle-outline"></span></p>
                Profile
              </a>
          </li>
        </ul>
      </nav>
      <!-- Bootstrap bundle js -->
      <script src="vender/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Jquery js -->
      <script src="vender/jquery/jquery.min.js"></script>
      <!-- Sidebar js -->
      <script src="vender/sidebar/hc-offcanvas-nav.js"></script>
      <!-- Custom js -->
      <script src="js/script.js"></script>
   </body>
</html>